@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skimmer loader animation */
@keyframes skimmer {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  .skimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skimmer 1.5s infinite linear;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
}

table th, table td {
    word-wrap: break-word;
    padding: 8px;
    text-align: left;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overflow-y-auto {
  scrollbar-width: none; /* Firefox */
}

.overflow-y-auto::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
